/* Normalizing css using unerversal secletor */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* preset color */
/* --mainBlu: */

body {
    background-color: #dfdfb9;
}


/* navbar style */

#fixed{
    /* display: fixed; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(59, 51, 51);
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  li a:hover:not(.active) {
    background-color: hsla(207, 78%, 57%, 0.767);
  }
  
  .active {
    background-color: #318dd8;
  }

  /* Banner style */
  .banner{
      min-height: 70vh;
      background-color: green;
  }