/* Normalizing css using unerversal secletor */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(154, 172, 166);
    color: rgb(8, 4, 4);
    font-size: 27px;
    padding: 7px 20px;
}

h1 {
    text-align: center;
    color: black;
}

h2{
    text-transform: capitalize;
    text-align: center;
    margin-left: 400px;
    color: rgb(112, 38, 38);
    padding: 1rem 2rem;
    border: .2rem solid rgba(149, 153, 142, 0.925);
    display: inline-block;
}